.gmp-button {
    -moz-border-radius: 4px;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    border-radius: 4px;
    border-style: solid;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.gmp-button.small {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px; }

.gmp-button.large {
    font-size: 36px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px; }

.gmp-button.xlarge { 
    font-size: 64px; 
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px; 
}

/* Botão do mal*/
.gmp-button.normal-btn {
    background: linear-gradient(rgb(160, 160, 160),rgb(190, 190, 190)); /* this is a gray */
    border-color: rgb(200, 200, 200); }

.gmp-button.normal-btn:hover { background: rgb(160, 160, 160); /* this is a gray */ }

.gmp-button.normal-btn:active {
    background: rgb(190, 190, 190); /* this is a gray */
    border-color: rgb(160, 160, 160); }

.gmp-button.normal-btn:disabled {
    background: linear-gradient(rgb(110, 110, 110),rgb(120, 120, 120)); /* this is a gray */
    border-color: rgb(120, 120, 120);
    color: rgb(150, 150, 150); }

/* Botão de confirmação*/
.gmp-button.success-btn {
    background: linear-gradient(rgb(18, 174, 55),rgb(48, 204, 85)); /* this is a green */
    border-color: rgb(48, 204, 85); }

.gmp-button.success-btn:hover { background: rgb(18, 174, 55); /* this is a green */ }

.gmp-button.success-btn:active {
    background: rgb(48, 204, 85); /* this is a green */
    border-color: rgb(18, 174, 55); }

.gmp-button.success-btn:disabled {
    background: linear-gradient(rgb(18, 174, 55),rgb(28, 184, 65)); /* this is a gray */
    border-color: rgb(28, 184, 65);
    color: rgb(150, 150, 150); }

/* Botão de erro */
.gmp-button.error-btn {
    background: linear-gradient(rgb(212, 50, 50),rgb(242, 80, 80)); /* this is a maroon */
    border-color: rgb(222, 80, 80); }

.gmp-button.error-btn:hover { background: rgb(212, 50, 50); /* this is a maroon */ }

.gmp-button.error-btn:active {
    background: rgb(242, 80, 80); /* this is a maroon */
    border-color: rgb(212, 50, 50); }

/* Botão de aviso */
.gmp-button.warning-btn {
    background: linear-gradient(rgb(213, 117, 10),rgb(253, 147, 50));
    border-color: rgb(243, 137, 40); /* this is an orange */ }

.gmp-button.warning-btn:hover { background: rgb(213, 117, 10); /* this is an orange */ }

.gmp-button.warning-btn:active {
    background: rgb(253, 147, 50); /* this is an orange */
    border-color: rgb(213, 117, 10); }

/* Botão alternativo*/
.gmp-button.secondary-btn {
    background: linear-gradient(rgb(46, 144, 181),rgb(76, 194, 231)); /* this is a light blue */
    border-color: rgb(86, 204, 241); }

.gmp-button.secondary-btn:hover { background: rgb(46, 144, 181); /* this is a light blue */ }

.gmp-button.secondary-btn:active {
    background: rgb(76, 194, 231); /* this is a light blue */
    border-color: rgb(46, 144, 181); }
/* ========================================================================== */
/* ============================= Menu ======================================= */
/* ========================================================================== */
.gmp-menu {
    font: 14px Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; }

.gmp-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.gmp-menu li {
    border-bottom: 1px solid #FF4F00;
    margin: 0; }

.gmp-menu li a {
    background: linear-gradient(#65a9d7,#408DD2); /*    background: url(../img/pattern.png) top left repeat;*/
    border-left: 5px solid #A63400;
    border-right: 1px solid #A63400;   
    color: rgb(240,240,240);
    display: block;
    font-weight: bold;
    height: 25px;
    padding: 5px 5px 5px 0.5em;
    text-decoration: none;
    text-shadow: 3 1px 1px rgba(0, 0, 0, 0.2); /*    text-align: center;    */ }

.gmp-menu li a:hover {
    background: #679FD2;
    border-left: 5px solid #FF4F00;
    border-right: 1px solid #FF4F00;
    color: rgb(55,55,55); }
.gmp-menu a.has-btn {
    background: linear-gradient(#408DD2,#65a9d7);
    width: max-content; }

.gmp-menu a.has-btn:hover {
    background: #679FD2;
    border-left: 5px solid #FF4F00;
    border-right: 1px solid #FF4F00;
    border-bottom: 1px solid #FF4F00;
    color: rgb(55,55,55); }

.gmp-menu a.has-btn div {
    background-image: url(../img/icon_plus.png);
    background-position: 96% center;
    background-repeat: no-repeat;
    height: available;
    width: available; }

.gmp-menu a.has-btn div:active {
    background-image: url(../img/icon_minus.png);
    background-position: 96% center;
    background-repeat: no-repeat; }

.gmp-menu .secondary { display: none; /*    background: url(../img/pattern.png) top left repeat;
margin: 0;*/ }

.gmp-menu .secondary a {
    background: #408DD2;
    margin: 0; }

.gmp-menu .primary ul li a { 
    //border-bottom: #FF4F00 1px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul.gmp-menu li {
    float: left;
    height: 1%; }

* html ul.gmp-menu li a { height: 1%; }

/* End */
/* ========================================================================== */
/* ============================= Table ====================================== */
/* ========================================================================== */
.gmp-table {
    border-radius: 4px; /*    background: linear-gradient(silver,white);*/
    border: 10px black; }

.gmp-table tbody { border: 10px black; }

.gmp-table thead {
    background-color: #408DD2;
    border: 1px black; }

.gmp-table tr { border: 1px black; /*    border-radius: 4px;*/ }

.gmp-table tr th { border: 1px black; /*    border-radius: 4px;*/ }

.gmp-table tbody tr:hover {
    background-color: #65a9d7;
    border: 1px black; }

.gmp-table td {
    border: 10px black; /*    border-radius: 4px;*/
    text-align: center; }

.gmp-table td:hover {
    background-color: #FF4F00;
    border: 1px black; }

.gmp-table td:active {
    background-color: #A63400;
    border: 1px black; }